$color-primary: #E8B144;
$bg-color: #0D1225;

.title {
    color: $color-primary;
}

.main {
    background: $bg-color;
    width: 100vw;
    height: 100vh;
}

//Header
.header {
    color: $color-primary ;
    padding-top: 20px;
    max-width: 850px;
    margin: 0 auto;

}

.header-title {
    color: $color-primary;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.header-actions-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.header-language {
    justify-content: flex-start;
}

.header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 15px;
}


//Button
.button {
    background: $color-primary;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;

    &.button-only-icon {
        padding: 10px;
    }
}

.button-icon-right {
    margin-bottom: -4px;
    margin-left: 10px;
}

.button-icon-left {
    margin-bottom: -4px;
    margin-right: 10px;
}

.button-only-icon {
    margin-bottom: -4px;
}


//DropDown

.react-select-container {
    width: fit-content;
    color: #000000;
    font-size: 18px;

    .react-select__control {
        background-color: $color-primary;
        color: #000000;
        border: none;
        border-radius: 25px;
        min-height: 38px;
    }

    .react-select__menu {
        background-color: $color-primary;
        border-radius: 25px;
        margin-top: 20px;
    }

    .react-select__option--is-focused {
        background-color: #EC9C00 !important;
        border-radius: 25px;
    }

    .react-select__option--is-selected {
        background-color: $color-primary !important;
        color: #58607D;
        border-radius: 25px;
    }

    .react-select__dropdown-indicator {
        color: #000000;
    }

    .react-select__indicator-separator {
        display: none;
    }
}

//GameBoard
.game-board {
    background: #514848;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 900px;
    width: 1026px;
    height: 652px;
    padding: 36px;
    border-radius: 20px;
}

.game-board-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

// Card
.card-open {
    background: #E7DBC5;
    transform-style: preserve-3d;
    transition: all 0.2s;

}

.card-close {
    background: $color-primary;
    transform-style: preserve-3d;
    transition: all 0.2s;
    transform: rotateY(180deg);
}

.card {
    width: 100%;
    max-width: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    height: 130px;
    border: none;
}

.card-text {
    color: #000;
}
